body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	text-decoration-style: none;
}

a:active {
	text-decoration: none;
	text-decoration-style: none;
}

h1 {
	font-size: 100px;
	text-align: center;
	padding-top: 15%;
}

h4 {
	font-size: 25px;
	text-align: center;
	margin: 0;
}

nav {
 	padding: 0px 20px 0px 20px;
 	background-color: #009688;
}


/* DIV PAGE SETTINGS */
.page {
	height: 100%;
	margin: 0 auto;
}

/* HEADER SETTINGS */
.header {
	margin: 0 auto;
	background: url("../img/banner_img.jpg") no-repeat fixed center;
	text-align: center;
	background-color: white;
	color: white;
}



.filter {
	background-color: rgba(0,0,0,0.5);
	height: 94vh;
	padding: 20px;
}

/* CONTENT SETTINGS */
.content {
	width: 100%;
	/*max-width: 1200px;*/
	padding: 0px;
	margin: 0 auto;
	color: white;
}

.divider {
	width: 60%;
	margin-top: 100px;
}


.promo-box {
	text-align: center;
	padding: 20px 10px;
	width: 100%;
	max-width: 1200px;
}

/*.promo-pic {
	font-size: 300px;
	color: #009688;
	padding: 30px 70px 0px 70px;
}*/

.promo-pic {
	font-size: 220px;
	color: #009688;
	padding: 20% 19% 0% 19%;
}

.promo-div {
	margin-top: 200px;
}

.text-box {
	padding: 40px 10px 40px 10px;
}
