/* START OF CSS DOCUMENT */
/* Author: Jan Kočvara */
/* Project DocMe! Cascade style sheet file */

/* GENERAL SETTINGS */

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	text-decoration-style: none;
}

a:active {
	text-decoration: none;
	text-decoration-style: none;
}

h1 {
	font-size: 100px;
	text-align: center;
	padding-top: 15%;
}

h3 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

/* DIV PAGE SETTINGS */
.page {
	height: 100%;
	margin: 0 auto;
}

/* HEADER SETTINGS */
.header {
	margin: 0 auto;
	background: url("../img/banner_img.jpg") no-repeat fixed center;
	text-align: center;
	background-color: white;
	color: white;
}

nav {
 	padding: 0px 20px 0px 20px;
 	background-color: #009688;
}

/* CONTENT SETTINGS */
.content {
	width: 100%;
	/*max-width: 1200px;*/
	padding: 70px 20px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
	padding: 10px 5px;
}

.bold {
	font-weight: bold;
}

.form-box {
	padding: 70px 20px;
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;
}

.form-box a {
	margin: 50px;
}

/* FOOTER SETTINGS */

.page-footer {
	bottom: 0;
	width: 100%;
	background-color: #009688;
	/*background-color: #f57c00;*/
}