/* CSS CV 1 TEST */
#content-page {
	border-style: dashed;
}

#project-container { /* Centrální div projektu, který určuje hranice groups */
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

#profilePic {
	max-width: 200px;
	object-fit: scale-down;
}

#username { /* Div se jménem */

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}

#bio { /* Div se stručným popisem osoby */
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
}

#experience { /* Div se soupisem doposud dosažené praxe, zkušeností */
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	box-ordinal-group: 3;
}

#highschool { /* Div s vystudovanou vysokou školou */ 
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	box-ordinal-group: 4;
}

#school { /* Div s vystudovanou střední školou */
	-webkit-box-ordinal-group: 5;
	-moz-box-ordinal-group: 5;
	box-ordinal-group: 5;
}

#ability { /* Div se souhrnem mých schopností (silných stránek) */
	-webkit-box-ordinal-group: 6;
	-moz-box-ordinal-group: 6;
	box-ordinal-group: 6;
}

#lang { /* Div se soupisem jazyků, které dokážu ovládat */
	-webkit-box-ordinal-group: 7;
	-moz-box-ordinal-group: 7;
	box-ordinal-group: 7;
}

#skills { /* Div se soupisem vyjímečných schopností */
	-webkit-box-ordinal-group: 8;
	-moz-box-ordinal-group: 8;
	box-ordinal-group: 8;
}