/* CSS CV 2 TEST */
#content-page span {
	font-size: 20px;
}

.moovable {
	position: absolute;
}

#content-page {
	position: absolute;
	background-color: red;
}

#project-container { /* Centrální div projektu, který určuje hranice groups */
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

#profilePic { /* div s obrázkem */
	width: 20%;
	object-fit: scale-down;

}

#username { /* Div se jménem */
	position: absolute;
	left: 320px;
	top: 35px;

	width: 73%;
	height: 80px;

	text-align: center;
	vertical-align: middle;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}

#bio { /* Div se stručným popisem osoby */
	position: absolute;
	left: 320px;
	top: 132px;

	width: 73%;
	height: 150px;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
}

#experience { /* Div se soupisem doposud dosažené praxe, zkušeností */
	position: absolute;
	top: 300px;

	width: 95%;
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	box-ordinal-group: 3;
}

#highschool { /* Div s vystudovanou vysokou školou */ 
	position: absolute;
	top: 470px;

	width: 95%;
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	box-ordinal-group: 4;
}

#school { /* Div s vystudovanou střední školou */
	position: absolute;
	top: 655px;

	width: 95%;
	-webkit-box-ordinal-group: 5;
	-moz-box-ordinal-group: 5;
	box-ordinal-group: 5;
}

#ability { /* Div se souhrnem mých schopností (silných stránek) */
	position: absolute;
	top: 840px;

	width: 31%;
	height: 200px;
	-webkit-box-ordinal-group: 6;
	-moz-box-ordinal-group: 6;
	box-ordinal-group: 6;
}

#lang { /* Div se soupisem jazyků, které dokážu ovládat */
	position: absolute;
	top: 840px;
	left: 880px;

	width: 31%;
	height: 200px;
	-webkit-box-ordinal-group: 7;
	-moz-box-ordinal-group: 7;
	box-ordinal-group: 7;
}

#skills { /* Div se soupisem vyjímečných schopností */
	position: absolute;
	top: 840px;
	left: 456px;

	width: 31%;
	height: 200px;
	-webkit-box-ordinal-group: 8;
	-moz-box-ordinal-group: 8;
	box-ordinal-group: 8;
}