/* DEFAULT EDITOR CSS SETTINGS */
a {
	color: white;
	text-decoration: none;
}

textarea {
	height: 300px;
}

.ranger {
	text-align: center;
	margin: 0 auto;
	width: 85%;
}

.menu-btn {
	float: left;
	margin: 10px 5px 0px 20px;
}

#content-page {
	padding: 2%;
	height: 845px;
	display: none;
}

.moovable{
	margin-top: 10px;
	/*border-style: dashed; */
	/*background-color: #333333;*/ 
	
}

.colorShow {
	width: 80px;
	height: 50px;
	float: left;
	border-radius: 3px;
	margin: 2px;
}

.nav-submenu {
	margin: 3% 3% 3% 7%; 
}

.smallColor {
	width: 10px;
	height: 10px;
}

.sub_menu_image {
	width: 100%;
	height: auto;
	object-fit: scale-down;
}

.editable {
	padding: 0px 15px 0px 15px;
}

.title {
	display: block;
}

/* Right-click dropdown menu */
.editor-custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Každý jednotlivý item (tlačítko) v context-menu */
.editor-custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.editor-custom-menu li:hover {
    background-color: #DEF;
}	


/* DYNAMICKY PŘIDÁVANÉ HTML PRVKY */
.line {
}