/* START OF CSS DOCUMENT */

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	text-decoration-style: none;
}

a:active {
	text-decoration: none;
	text-decoration-style: none;
}

h1 {
	font-size: 100px;
	text-align: center;
	margin-top: 20px;
}

h3 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

/* NAV SETTINGS */
nav {
	padding: 0px 20px 0px 30px;
	visibility: hidden;
}

/* DIV PAGE SETTINGS */
.page {
	height: 100%;
	margin: 0 auto;
}

.profile_content {
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

#userPic {
	padding: 10px;
	margin: 25px 0px auto;
	width: 70%;
	height: auto;
}

.bigProfileContainer {
	margin: 60px 0px 0px 120px;
}

.userPicsCollection {
	width: 40%;
	height: auto;
}

/* buttons */
.profile-button {
	margin-top: 15px;
	/*visibility: hidden;*/
}

.colorPick {
	width: 80px;
	height: 50px;
	float: left;
	border-radius: 3px;
	margin: 2px;
}

.image-container {
  width: 100%;
  max-width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  /*object-fit: scale-down;*/
  border-radius: 3px;
}


.image-container img {
  position: relative; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 15px;
}

.pictureShowRoom {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Right-click dropdown menu */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Každý jednotlivý item (tlačítko) v context-menu */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}	